<h1> Welcome Back <%= @user.name %> </h1>
<br>

<h2> <%= @user.zodiac_sign %></h2>
<br>

<h2> <%= @user.bio %></h2>
<br>

- Add horoscope of the day // Ask Mallory and partner jic
<br>

<h2>:crystal_ball: Here is a list of your spells :crystal_ball:</h2>

<br>

<%= link_to "Create A Spell", new_spell_path %>
<%= link_to "Search Spells", spells_path %>
Join A Coven

<br>
<br>
<br>

<%= link_to "Logout", @user  %>
