<!DOCTYPE html>
<html>
  <head>
    <title>✨HexCode✨</title>
    <style>
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    </style>

  </head>


<body>
<h1> Welcome Back <%= @user.name %> </h1>
<br>




   🔮 <h2><%=@user.zodiac_sign %> daily horoscope :🔮  </h2>

   <%=@user.h_daily%>

<br>

<h2> bio: </h2>
  <%= @user.bio %>
<br>

<!-- moon.percent_full -->






<br>

<center><h1>💎 Your Spells 💎 </h1></center>
  <center><ul>
    <% @user.spells.each do |spell| %>
        <li><%= link_to spell.name, spell_path %></li>
    <% end %>
  </ul></center>

<br>

<%= link_to "Create A Spell", new_spell_path %> ~ * ~ * ~ * ~ <%= link_to "Search Spells", spells_path %>

<br>
<br>
<br>

<% if @logged_in %>
 <%= button_to "Log out #{@user.username}", "/logout", method: :delete %>
<%end %>


 <%= button_to 'Delete Account', {:controller => :users, :action => 'destroy', :id => @user.id}, :method => :delete %>

 </body>
