<h1> Welcome Back <%= @user.name %> </h1>
<br>

<h2> Horoscope: </h2>


   <h2><%= @user.zodiac_sign %> Daily Horoscope : </h2>
   <%=@user.h_daily%>
   fetched_horoscope = $current_user.h_daily
<br>

<h2> Bio: </h2>
  <%= @user.bio %>
<br>

<!-- moon.percent_full -->





<!-- Add horoscope of the day // Ask Mallory and partner jic -->
<br>

<h1>💎 Your Spells 💎 </h1>


<br>

<%= link_to "Create A Spell", new_spell_path %> ~ * ~ * ~ * ~ <%= link_to "Search Spells", spells_path %>

<br>
<br>
<br>

<% if @logged_in %>
 <%= button_to "Log out #{@user.username}", "/logout", method: :delete %>
<%end %>


 <%= button_to 'Delete Account', {:controller => :users, :action => 'destroy', :id => @user.id}, :method => :delete %>
