<h1> Welcome Back <%= @user.name %> </h1>
<br>

<h2> <%= @user.zodiac_sign %> </h2>
<br>

<h2> <%= @user.bio %></h2>
<br>





<!-- Add horoscope of the day // Ask Mallory and partner jic -->
<br>

<h1>:🌑 Here is a list of your spells 🌑 :</h1>

<br>

Create A Spell   Search Spells    Join A Coven

<br>
<br>
<br>

<% if @logged_in %>
 <%= button_to "Log out #{@user.username}", "/logout", method: :delete %>
<%end %>


 <%= button_to 'Delete Account', {:controller => :users, :action => 'destroy', :id => @user.id}, :method => :delete %>
