<br>
<br>
<br>
<br>
<br>
<br>



<center><h1 style="color:#D5C1EE; cursive">🔮 Welcome to HexCode 🔮</h1></center>

<%if flash[:messages] %>
   <ul>
  <%=flash[:messages]  %>
       <% end %>
   </ul>


<center><%= form_tag '/login' do %>
<%= label_tag :username %>
<%= text_field_tag :username %>
<%= label_tag :password%>
<%= password_field_tag :password%>
<%= submit_tag "Login"%>
<%end%>
<br>
<br>
<br>

<%= link_to "Join The Coven", new_user_path %></center>
