<!DOCTYPE html>
<html>
  <head>
    <title>✨HexCode✨</title>

    <link rel="stylesheet" media="all" href="/assets/spells-index.scss" data-turbolins-tracks="reload">
  </head>
  <body>

    <nav>
        <%= link_to "Profile", @current_user, class: "nav-link" %>
        <%= link_to "Create a spell", new_spell_path, class: "nav-link" %>
        <%= form_tag "/spells", method: :get%>
          <%= text_field_tag :search%>
        <%= submit_tag "Search" %>
  </nav>


    <center><h1>All of the spells</h1></center>


    <ul>
    <%@spells.each do |spell| %>
    <h2><li><%= link_to spell.name, spell %></li></h2>
    <%end %>
    </ul>

</body>
