<!DOCTYPE html>
<html>
  <head>
    <title>✨HexCode✨</title>
  </head>

  <body>

  <% yield %>
    <div class="container">
      <h1> <%= @spell.name %> </h1>
      <h5> Category: <%=@spell.category %> </h5>

      <p> Instructions: <%= @spell.instructions %> </p>
      <p> Supplies: <%= @spell.magical_supplies %> </p>

      <p> Interactive? <%= @spell.interactive %> </p>

      <%= link_to "Search spells", spells_path %><br>
      <%= link_to "Back to profile", @current_user %><br><br>
      <%= button_to 'Edit', edit_spell_path(@spell), method: 'get' %>
      <%= button_to "Delete", @spell, method: :delete, data: {confirm: "Can't undo"} %>
    </div>



  </body>
</html>
