<!DOCTYPE html>
<html>
  <head>
    <title>✨HexCode✨</title>

    <link rel="stylesheet" media="all" href="/assets/spells-show.scss" data-turbolins-tracks="reload">
  </head>

  <body>

    <nav>
        <%= link_to "Profile", @current_user, class: "nav-link" %>
        <%= link_to "Edit", edit_spell_path, class: "nav-link" %>
        <%= link_to "Search spells", spells_path, class: "nav-link"%>
        <%= link_to "Delete", @spell, method: :delete, data: {confirm: "Can't undo"},class: "nav-link" %>
    </nav>

    <div class="container">
      <h2> <%= @spell.name %> </h2>
      <h5> Category: <%=@spell.category %> </h5>

      <p> Instructions: <%= @spell.instructions %> </p>
      <p> Supplies: <%= @spell.magical_supplies %> </p>

      <p> Interactive? <%= @spell.interactive %> </p>

    </div>



  </body>
</html>
