<!DOCTYPE html>
<html>
 <head>
   <title>:sparkles:HexCode:sparkles:</title>
   <%= csrf_meta_tags %>
   <%= csp_meta_tag %>


   <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
   <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
 </head>

<<<<<<< HEAD
 <link rel="stylesheet" href="styles.css">

 <body style="background-color:#581845;">
  


     <%= yield %>


   </body>



=======
  <body style="background-color:#581845;">
    <%= yield %>
  </body>
>>>>>>> 17d22351141280a501841e537ff8e41b99c1b16b
</html>
