<!DOCTYPE html>
<html>
 <head>

   <title>✨ HexCode ✨ </title>
   <%= csrf_meta_tags %>
   <%= csp_meta_tag %>

   <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
   <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
 </head>

  <body style="background-color:#581845;">
    <%= yield %>
  </body>

</html>
