<!DOCTYPE html>
<html>
 <head>
<<<<<<< HEAD
   <title>✨ HexCode ✨ </title>
   <%= csrf_meta_tags %>
   <%= csp_meta_tag %>
=======
   <title>:sparkles:HexCode:sparkles:</title>
>>>>>>> 964d21bc048668bbd34118a0c3244e077c373cab



   <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
   <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
 </head>

  <body style="background-color:#581845;">
    <%= yield %>
  </body>

</html>
